.home {
  display: flex;
}

.home-left {
  flex: 0.2;
  background-color: #fdfdfd;
  height: 100vh;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  position:-webkit-sticky;
  /* margin-top: 60px; */
  border-right: 1px solid lightgray;
}

.home-left > a > img {
  height: 70px;
  margin-right: 10px;
  object-fit: contain;
}

.home-left > a {
  text-decoration: none;
  color: black;
}

.feed {
  flex: 0.5;
}

.widgets {
  flex: 0.3;
}
