.profile {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  /* padding: 10px; */
  margin-top: 30px;
}
.profile > a > img {
  height: 70px;
  margin-right: 10px;
  object-fit: contain;
}
.profile-left > img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-details > h1 {
  font-size: 18px;
  font-weight: 700;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.profile-stats > p {
  font-size: 18px;
  font-weight: 700;
  /* padding: 2px; */
}

.profile-stats > span {
  align-items: center;
}

.profile-bio > span {
  font-size: 13px;
  color: gray;
  line-height: 1;
}
