.register {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
  margin-top: 50px;
}

.register > img {
  object-fit: contain;
  height: 50px;
  /* margin-bottom: 40px; */
  padding: 25px;
}

.form-input > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-input > form > input {
  /* border: none; */
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
}
#registerImage > input {
  display: flex;
  padding: 0%;
}

.form-input > form > p {
  font-size: 11px;
  font-weight: 300;
  color: black;
  margin-top: 20px;
}

.form-input > form > p > a {
  text-decoration: none;
  color: #3897f0;
  font-size: 12px;
  font-weight: bold;
}

.loginBtn{
  margin-top: 50px;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  border: none;
  text-transform: inherit !important;
  background-color:#3897f0 !important;
  color: white;
}