.widgets {
  height: 100vh;
  width: 100%;
  margin-top: 30px;
  /* border-left: 1px solid lightgray; */
}

.widgets-intro {
  display: flex;
}

.widgets-intro > img {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.widgets-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.widgets-btn {
  width: 85px;
  height: 50px;
  border-radius: 38px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  /* font-style: italic; */
  background-color: white !important;
  color: #3897f0  !important;
}

button:hover {
  color: gray;
}

.suggestions-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.suggestions-container > span {
  font-size: 11px;
}

.suggestions {
  display: flex;
  margin-top: 20px;
}

.suggestions-details > p {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 100px;
}

.suggestions > img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}